* {
    font-family: Helvetica,  Arial, sans-serif;
}

$color-primary-0: #041320;	// Main Primary color */
$color-primary-1: #009270;
$color-primary-2: #00312d;
$color-primary-3: #022220;
$color-primary-4: #003430;


