* {
    font-family: Helvetica,  Arial, sans-serif;
}

$color-primary-0: #236863;	// Main Primary color */
$color-primary-1: #689D99;
$color-primary-2: #41837E;
$color-primary-3: #0D4E4A;
$color-primary-4: #003430;


